body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #1c1e21;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 92%;
    position: relative; 
    margin: 0 auto;
    background-color: #ffffff;
}

.row {
  background-color:#ffffff;
  align-items: center;
  width: 100%;
  
}

.logo {
  flex: 0 0 100%;
  text-align: center;
  align-items: center;
}

.logo img {
    max-width: 100%;
    height: 40px;
    width: 121px;
    margin-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
    width: 100%;
    margin: 5px 0;
    height: 40px;
    vertical-align: middle;
    font-size: 16px;
}

input {
    margin-top: 0%;
    line-height: 40px;
    background-color: #f0f2f5;
    border: 2px solid #dddfe2;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 8px;
    outline: none;
}


.submit {
    background-color: #1877f2;
    border: none;
    width: 100%;
    line-height: 40px;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
}

a {
    display: block;
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 0 20px;
    
}

a:hover {
    text-decoration: underline;
}

.style {
  position: relative;
  text-align: center;
  font-size: 14px;
}

.style:before {
  content: " ";
  display: block;
  height: 0.9px;
  width: 170px;
  position: absolute;
  top: 50%;
  left: 25px;
  background-color: rgba(0, 0,0,0.2);
}

.style:after {
  content: " ";
  display: block;
  height: 0.9px;
  width: 170px;
  position: absolute;
  top: 50%;
  right: 25px;
  background-color: rgba(0, 0,0,0.2);
}

.btn-new {
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 20px;
}

a {
    font-weight: 600;
}